.resultContainer {
    max-width: 800px;
    padding: 2rem;
    margin: 0 auto;
    font-size: 70px;
    /* padding-top: 60px; */
  }

  .resultContainer img {
    max-width: 320px;
    align-items: center;
  }
  
  .title {
    color: #cf7baf;
    font-size: 4rem;
    margin-bottom: 1rem;
    text-align: center;
    font-family: 'Modak', cursive;
    letter-spacing: 1px;
    text-transform: lowercase;
    line-height: 1.2;
    -webkit-text-stroke: 2px white;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
    padding-top: 12px;
  }
  
  .content {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #cf7baf;
    font-family: "Futura", cursive;
    margin-bottom: 70px;  
    text-align: center;
  }

  .content p {
    font-size: 2rem;
  }

  .sidebyside {
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 10px;
    /*text-align: center;*/
  }
  .imim img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    /* padding: 3.2em; */
    }


  .smol {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    transform: scale(0.1);
  }

  .facesGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .facesRow {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: flex-start;
  }